@font-face {
  src: url("../font/machine_2/MACHINE.otf") format("opentype");
  font-family: "Machine";
}

@font-face {
  src: url("../font/Merriweather/Merriweather-Regular.ttf")
    format("truetype");
  font-family: "Merriweather";
}

#jeu {
  min-height: 100px;
  min-width: 400px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1b4332;
  color: #b7e4c7;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: "Machine";
  font-size: 100px;
}

h3 {
  font-family: "Merriweather";
}

p {
  font-family: "Merriweather";
  margin: 15px;
  letter-spacing: 0.05em;
}

button {
  background-color: #d8f3dc;
  border-radius: 10px;
  height: 40px;
  background-color: #d8f3dc;
  color: #2d6a4f;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0.5em 0 0.5em;
  border: 5px solid  #2d6a4f;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#bouton {
  justify-content: space-around;
  width: 100%;
  display: flex;
 
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

#image {
  max-width: 100%;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  margin: 20px;
}

img {
  max-width: 300px;
  max-height: 300px;
}

body {
  background-color: #74c690;
}
